[user]
name = indesperate
email = indesperate@outlook.com
[core]
editor = nvim
fsmonitor = true
untrackedcache = true
autocrlf = true
[diff]
tool = default-difftool
[difftool "default-difftool"]
cmd = code --wait --diff $LOCAL $REMOTE
