[user]
	name = indesperate
	email = indesperate@outlook.com
[core]
	editor = nvim
	fsmonitor = true
	untrackedcache = true
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = nvim -d $LOCAL $REMOTE
[credential "https://github.com"]
	helper = 
{{- if eq .chezmoi.os "linux" }}
	helper = !/usr/bin/gh auth git-credential
{{- else if eq .chezmoi.os "windows" }}
	helper = !'{{ .chezmoi.homeDir }}/scoop/apps/gh/current/bin/gh.exe' auth git-credential
{{- end }}
[credential "https://gist.github.com"]
	helper = 
{{- if eq .chezmoi.os "linux" }}
	helper = !/usr/bin/gh auth git-credential
{{- else if eq .chezmoi.os "windows" }}
	helper = !'{{ .chezmoi.homeDir }}/scoop/apps/gh/current/bin/gh.exe' auth git-credential
{{- end }}
[init]
	defaultBranch = main
