let mapleader="\<space>"

"jump between open files
nnoremap H :bprevious<CR>
nnoremap L :bnext<CR>

"rename functions variables
nnoremap <leader>r :action RenameElement<CR>

inoremap <c-j> <c-o>:action CodeCompletion<CR>

nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-h> <c-w>h
nnoremap <c-k> <c-w>k

nnoremap gD :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action GotoSymbol<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>

"comment one line
nnoremap gc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>

"formatcode
nnoremap <leader>= :action ReformatCode<CR>
vnoremap <leader>= :action ReformatCode<CR>

set NERDTree
nnoremap <leader>n :NERDTreeToggle<CR>

set keep-english-in-normal-and-restore-in-insert
